.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* ToDoSearch */
.search_wrap {
  width: 50%;
  height: 50px;
  display: flex;
  margin: 50px 0px;
  gap: 10px;
}
.search_input {
  width: 100%;
  outline: none;
}
.search_input:focus {
  border: 1px solid red;
}

/* Todo List */
.list_item_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.list_item_text {
  width: 100%;
  word-wrap: break-word;
}
.list_item_btn_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}
.list_item_btn {
  padding: 10px 15px;
}

/* ToDo Pagination */
.pagination_wrap {
  margin-top: 80px;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
  height: 60px;
}
.header_content {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Todo Create */
.create_content {
  height: 40vh;
}
.create_btn_wrap {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

/* Login */
.login_container {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.login_wrap {
  width: 50vw;
}
.login_btn {
  margin-top: 10px;
}

/* Todo Detail */
.detail_content {
  max-height: 50vh;
}
.detail_btn {
  margin-right: 20px;
}
